/* Structure
========================================================================== */
body {
  margin: 0; }

ul {
  padding-left: 0;
  list-style-type: none; }

.container {
  padding-right: 30px;
  padding-left: 30px; }

/* Layout
========================================================================== */
.main-section {
  padding-top: 40px;
  background-color: #ededed; }
  .main-section h1 {
    color: #363636;
    text-align: center; }

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #3b5a76; }
  .footer-text {
    margin-top: 0;
    color: #fff; }
